body {
  background-color: #cadefc;
  font-family: "Poppins", sans-serif;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 30px;
}

.search-form-input {
  background-color: #cadefc;
  border: none;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-form-button {
  background: #c3bef0;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 16px;
  color: white;
}

main {
  padding: 30px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  margin: 0;
  font-size: 40px;
  line-height: 42px;
}

.current-details {
  font-size: 16px;
  color: grey;
  line-height: 20px;
  font-weight: 300;
}

.current-temperature {
  font-size: 70px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}

.current-temperature-icon {
  font-size: 1rem;
}
.current-temperature-icon img {
  width: 30px;
  height: auto;
}

.current-temperature-unit {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 27px;
  vertical-align: super;
}

footer {
  text-align: center;
  font-size: 10px;
}

a {
  color: #c3bef0;
}
